<footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background-color: rgb(247, 243, 9)!important;">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="" target="_blank">
        <i class="fa fa-facebook-f mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fa fa-twitter mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fa fa-youtube mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fa fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fa fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fa fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fa ufa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fa fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> Boutique.com </a>
    </div>
    <!--/.Copyright-->

  </footer>